:root {
    --main-color: #6E3CBC;
    --secondary-color: #7267CB;
    --icon-color: #c7c1f7;
    --border-radius: 12px;
    --shadow-light: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.landing-sale {
    direction: rtl;
    height: auto;
    /* السماح بالارتفاع التلقائي */
    padding: 80px 0;
    /* إضافة مساحة داخلية */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, var(--icon-color), var(--bg-light));
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-bottom: 40px;
    box-shadow: var(--shadow-light);
}

.landing-sale .img-landing {
    height: auto;
    /* السماح بالارتفاع التلقائي */
    flex: 1;
    min-width: 300px;
    text-align: center;
    padding: 20px;
}

.landing-sale .img-landing img {
    max-height: 550px;
    /* تعديل ارتفاع الصورة */
    width: auto;
    object-fit: contain;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-medium);
    transition: transform 0.5s ease;
}

.landing-sale .img-landing img:hover {
    transform: translateY(-10px);
}

.landing-sale .text-landing {
    direction: ltr;
    flex: 1;
    min-width: 300px;
    padding: 20px;
    text-align: center;
}

.text-landing h1 {
    font-size: 3.5em;
    color: var(--secondary-color);
    margin-bottom: 20px;
    line-height: 1.2;
}

.text-landing p {
    color: #777;
    font-size: 1.2em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .landing-sale {
        flex-direction: column;
    }

    .landing-sale .img-landing img {
        max-height: 400px;
    }

    .landing-sale .text-landing {
        right: 0;
    }
}
